<!doctype html>

<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Flask Todo App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

</head>

<body>
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Flask Todo App <span class="label label-info">{{ count }}</span></h1>
		</div>


		{% for item in items %}
		<!-- TODO LIST -->
		<div  class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<div class="checkbox">
					<label>
						<input type="checkbox"> {{ item.name }}
					</label>
				</div>

			</div>
		</div>
		{% endfor %}

		<!-- FORM TO CREATE TODOS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form action="/new" method="POST">
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" name="name">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<input type="submit" class="btn btn-primary btn-lg"></button>
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
			<p>You are on: {{ hostname }}</p>
		</div>

</div>
</body>
</html>